<div id="custom-search" class="search d-flex justify-content-center align-items-center" >


<div class="custom-search__textwrapper  max-438">


<h3 class="p-0 m-0 h4">FIND YOUR CUSTOM <br> <span class="super-accent">UNIT STORE</span></h3>


</div>




<div class="search-form w-100">
 <main-search>
          <form action="{{ routes.search_url }}" method="get" role="search" class="search">
            <div class="field">
              <input
                class="search__input field__input"
                id="Search-In-Template"
                type="search"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="| TYPE HERE "
                {%- if settings.predictive_search_enabled -%}
                  role="combobox"
                  aria-expanded="false"
                  aria-owns="predictive-search-results"
                  aria-controls="predictive-search-results"
                  aria-haspopup="listbox"
                  aria-autocomplete="list"
                  autocorrect="off"
                  autocomplete="off"
                  autocapitalize="off"
                  spellcheck="false"
                {%- endif -%}
              >
              <label class="field__label" for="Search-In-Template">  TYPE HERE </label>
              <input name="options[prefix]" type="hidden" value="last">

              {%- if settings.predictive_search_enabled -%}
                <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
                  {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
                </div>

                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
             {%- endif -%}

            

              <button
                type="reset"
                class="reset__button field__button{% if search.terms == blank %} hidden{% endif %} button btn--primary"
                aria-label="{{ 'general.search.reset' | t }}"
              >
                SEARCH
              </button>
              <button type="submit" class="search__button field__button button btn--primary" aria-label="{{ 'general.search.search' | t }}">
                 SEARCH
              </button>
            </div>
          </form>
        </main-search>
</div>

</div>
