
<!-- loop 
 

men’s ss tees
Hi-Tech Performance
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">Men’s ss tees</h3>
            <p class="text-big m-0 mb-8">Hi-Tech Performance</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Relaxed Fit, won’t shrink..</p>
            <p class="m-0 mb-8"><strong>Produts Included:</strong> 100% Polyester Sport-Tek ST350. </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
         <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>20 IN</td>
            <td>21.5 IN</td>
            <td>23 IN</td>
            <td>24.5 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
        </tr>
        <tr>
            <td><strong>SLEEVE</strong></td>
            <td>18.5 IN</td>
            <td>19.25 IN</td>
            <td>20 IN</td>
            <td>20.75 IN</td>
            <td>21.5 IN</td>
            <td>22.25 IN</td>
            <td>23 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>32.5 IN</td>
            <td>33 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

          <img src="{{ 'Hi-Tech_Men_s_SS_Performance_Tees_1.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->



