
<!-- loop
 
100% Cotton unisex SS & LS Tees
Comfort (Not Tan499 & Coyote Brown)
Starting Retail Price: $60 / $80

-->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div class="flex-2">
            <h3 class="h5 text-cream m-0 mb-8 text-uppercase">100% Cotton unisex SS & LS Tees</h3>
            <p class="text-big m-0 mb-8">Comfort (Not Tan499 & Coyote Brown)</p>
        </div>

        <!-- Fit and Material Info -->
        <div class="product-variations">
            <p class="m-0 mb-8"><strong>Fit:</strong> Athletic Fit, may shrink.</p>
            <p class="m-0 mb-8"><strong>Produts Included:</strong>  Bella Canvas 3001, 3001CVC, 3413, 3501, Next Level 3600 </p>
        </div>

         <div class="arrow-up">
            {{'icon-arrow-up.svg' |  asset_url |  img_tag }}
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
          <table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>18-19 IN</td>
            <td>20-20.5 IN</td>
            <td>22 IN</td>
            <td>24 IN</td>
            <td>26 IN</td>
            <td>28 IN</td>
            <td>30 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>

        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">

        
          <img src="{{ 'Garment_Image.png' | file_url  }}" alt="Core Men's SS & LS" width="" height="">

         
        </div>

    </div>
</div>
<!-- #loop -->



