<!-- loop -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div>
            <h3 class="h5 text-cream m-0 mb-8">Core Men's SS & LS</h3>
            <p class="text-big m-0 mb-8">Performance Tees</p>
        </div>

        <!-- Fit and Material Info -->
        <div>
            <p class="m-0 mb-8"><strong>Fit:</strong> Runs standard American fit.</p>
            <p class="m-0 mb-8"><strong>Material:</strong> 100% Polyester with a subtle mesh.</p>
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table d-flex justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
            <table class="table-style">
                <thead>
                    <tr>
                        <th></th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>2XL</th>
                        <th>3XL</th>
                        <th>4XL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>CHEST</strong></td>
                        <td>17.5 IN</td>
                        <td>19.5 IN</td>
                        <td>21.5 IN</td>
                        <td>23.5 IN</td>
                        <td>25.5 IN</td>
                        <td>27.5 IN</td>
                        <td>29.5 IN</td>
                    </tr>
                    <tr>
                        <td><strong>HIPS</strong></td>
                        <td>17.5 IN</td>
                        <td>19.5 IN</td>
                        <td>21.5 IN</td>
                        <td>23.5 IN</td>
                        <td>25.5 IN</td>
                        <td>27.5 IN</td>
                        <td>29.5 IN</td>
                    </tr>
                    <tr>
                        <td><strong>HEIGHT</strong></td>
                        <td>26 IN</td>
                        <td>29 IN</td>
                        <td>31 IN</td>
                        <td>32 IN</td>
                        <td>33.5 IN</td>
                        <td>34.5 IN</td>
                        <td>35.5 IN</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
            <img src="{{ 'Core_Mens-SS-LS.png' | file_url }}" class="table-feature-image" alt="Core Men's SS & LS">
        </div>

    </div>
</div>
<!-- #loop -->



<!-- loop -->
 <!-- START: Core Men's SS & LS - Flex Performance Tees -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div>
            <h3 class="h5 text-cream m-0 mb-8">Core Men's SS & LS</h3>
            <p class="text-big m-0 mb-8">Flex Performance Tees</p>
        </div>

        <!-- Fit and Material Info -->
        <div>
            <p class="m-0 mb-8"><strong>Fit:</strong> Runs Larger and looser due to the stretchiness of the material, size down forn athletic fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong> Brushed 88/12 Poly Spandex</p>
        </div>

    </div>

    
    <!-- Table Section -->
    <div class="tab-content__table d-flex justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           

<table class="table-style">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>CHEST</strong></td>
            <td>18 IN</td>
            <td>19.5 IN</td>
            <td>20.5 IN</td>
            <td>22 IN</td>
            <td>23.5 IN</td>
            <td>25 IN</td>
            <td>26.5 IN</td>
        </tr>
        <tr>
            <td><strong>HIPS</strong></td>
            <td>18 IN</td>
            <td>19.5 IN</td>
            <td>20.5 IN</td>
            <td>22 IN</td>
            <td>23.5 IN</td>
            <td>25 IN</td>
            <td>26.5 IN</td>
        </tr>
        <tr>
            <td><strong>HEIGHT</strong></td>
            <td>28 IN</td>
            <td>29 IN</td>
            <td>30 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33 IN</td>
            <td>34 IN</td>
        </tr>
    </tbody>
</table>


        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
            <img src="{{ 'Core_Mens-SS-LS.png' | file_url }}" class="table-feature-image" alt="Core Men's SS & LS">
        </div>

    </div>
</div>
<!-- #loop -->











<!-- loop -->
 <!-- START: Core Men's SS & LS - Flex Performance Tees -->
<div class="table-loop">

    <!-- Header Section -->
    <div class="tab-content__header d-flex justify-content-between">

        <!-- Title and Subtitle -->
        <div>
            <h3 class="h5 text-cream m-0 mb-8">Core WOMen's SS & LS</h3>
            <p class="text-big m-0 mb-8">Performance Tees</p>
        </div>

        <!-- Fit and Material Info -->
        <div>
            <p class="m-0 mb-8"><strong>Fit:</strong>  Runs athletic women’s fit, size up for a relaxed fit. </p>
            <p class="m-0 mb-8"><strong>Material:</strong> 100% Polyester with a subtle mesh. </p>
        </div>

    </div>

    <!-- Table Section -->
    <div class="tab-content__table d-flex justify-content-between">

        <!-- Table Content -->
        <div class="tab-content__table__content">
           


       <table class="table-style">
  <tr>
    <th>Size</th>
    <th>Chest (in)</th>
    <th>Hips (in)</th>
    <th>Height (in)</th>
    <th>Fit</th>
    <th>Material</th>
  </tr>
  <tr>
    <td>S</td>
    <td>18 in</td>
    <td>18 in</td>
    <td>28 in</td>
    <td>Runs standard women's fit</td>
    <td>100% Polyester with a double mesh</td>
  </tr>
  <tr>
    <td>M</td>
    <td>19.5 in</td>
    <td>19.5 in</td>
    <td>29 in</td>
    <td>Runs standard women's fit</td>
    <td>100% Polyester with a double mesh</td>
  </tr>
  <tr>
    <td>L</td>
    <td>20.5 in</td>
    <td>20.5 in</td>
    <td>30 in</td>
    <td>Runs standard women's fit</td>
    <td>100% Polyester with a double mesh</td>
  </tr>
  <tr>
    <td>XL</td>
    <td>22 in</td>
    <td>22 in</td>
    <td>31 in</td>
    <td>Runs standard women's fit</td>
    <td>100% Polyester with a double mesh</td>
  </tr>
  <tr>
    <td>2XL</td>
    <td>23.5 in</td>
    <td>23.5 in</td>
    <td>32 in</td>
    <td>Runs standard women's fit</td>
    <td>100% Polyester with a double mesh</td>
  </tr>
  <tr>
    <td>3XL</td>
    <td>25 in</td>
    <td>25 in</td>
    <td>33 in</td>
    <td>Runs standard women's fit</td>
    <td>100% Polyester with a double mesh</td>
  </tr>
  <tr>
    <td>4XL</td>
    <td>26.5 in</td>
    <td>26.5 in</td>
    <td>34 in</td>
    <td>Runs standard women's fit</td>
    <td>100% Polyester with a double mesh</td>
  </tr>
</table>




            
        </div>

        <!-- Image Content -->
        <div class="tab-content__table__image">
            <img src="{{ 'Core_Mens-SS-LS.png' | file_url }}" class="table-feature-image" alt="Core Men's SS & LS">
        </div>

    </div>
</div>
<!-- #loop -->

