 
 <!-- loop -->


   <div class="tab-content__header d-flex justify-content-between">

        <div><h3 class="h5 text-cream">Core Men's SS & LS</h3>
               <p class="text-big">Performance Tees</p></div>
<div>

<p><strong>Material:</strong> 100% Polyester with a subtle mesh.</p>
<p><strong>Material:</strong> 100% Polyester with a subtle mesh.</p>

</div>


    </div>



 <div class="tab-content__table d-flex">

    <div class="tab-content__table__content">

<table  style="border-collapse: collapse; text-align: center; width: 100%; background-color: #4A4A20; color: white;">
    <thead>
        <tr>
            <th></th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CHEST</td>
            <td>17.5 IN</td>
            <td>19.5 IN</td>
            <td>21.5 IN</td>
            <td>23.5 IN</td>
            <td>25.5 IN</td>
            <td>27.5 IN</td>
            <td>29.5 IN</td>
        </tr>
        <tr>
            <td>HIPS</td>
            <td>17.5 IN</td>
            <td>19.5 IN</td>
            <td>21.5 IN</td>
            <td>23.5 IN</td>
            <td>25.5 IN</td>
            <td>27.5 IN</td>
            <td>29.5 IN</td>
        </tr>
        <tr>
            <td>HEIGHT</td>
            <td>26 IN</td>
            <td>29 IN</td>
            <td>31 IN</td>
            <td>32 IN</td>
            <td>33.5 IN</td>
            <td>34.5 IN</td>
            <td>35.5 IN</td>
        </tr>
    </tbody>
</table>

    

    </div>

    <div class="tab-content__table__imgage">


    <img src="{{'Core_Mens-SS-LS.png' |  file_url }}" class="table-feature-image">

    </div>

    </div>

     <!-- #loop -->