/* Slider image overlay*/
.emblemSlider .slideshow__slide {
  position: relative;
}
.emblemSlider .slideshow__slide:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  display: block;
  top: 0;

  background: linear-gradient(0deg, #191c00 0.77%, rgba(91, 91, 91, 0) 86.48%);
}
/* End slider image overlay*/

/* slider control */
.emblemSlider .slideshow__controls {
  position: absolute;
  z-index: 9;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.emblemSlider .slider-button {
  color: #ffffff;
}

.emblemSlider .slider-counter__link--dots .dot {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid #86895d;
  padding: 0;
  display: block;
  background: #fff;
}

.emblemSlider .slider-counter__link--active .dot {
  border: solid 2px #befa23 !important;
  background: transparent !important;
  width: 1.6rem;
  height: 1.6rem;
}

.emblemSlider .slider-counter__link {
  padding: 0.4rem;
}

.emblemSlider .slider-button {
  display: none;
}

.slideshow__media.banner__media .character-img {
  z-index: 2;
  width: auto;
  height: 100%;
  left: auto;
  right: 10%;

  animation: move 6s ease-in-out infinite;
}

@media screen and (max-width: 749px) {
  .slideshow__media.banner__media .character-img {
    left: 0;
    right: 0;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 750px) {
  .emblemSlider .slideshow__slide:after {
    background: linear-gradient(
      90deg,
      #191c00 0.77%,
      rgba(91, 91, 91, 0) 84.8%
    );
  }
  .banner__box {
    width: 100%;
    max-width: 56rem !important;
    min-width: auto;
  }
}

@keyframes move {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Move 20px to the right */
  }
  75% {
    transform: translateX(-20px); /* Move 20px to the left */
  }
}
