/* Slider image overlay*/
.emblemSlider .slideshow__slide {
  position: relative;
}

.secondary-heading {
  color: rgba(var(--title-highlighted)) !important;
}

#Slide-template--17708546064583__emblem_image_banner_wK4LG6-1
  .secondary-heading {
  color: rgb(var(--color-foreground)) !important;
}

.banner__sub-heading {
  color: rgba(var(--title-highlighted));
}

.emblemSlider .custom-shadow:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  display: block;
  top: 0;

  background: linear-gradient(0deg, #191c00 0.77%, rgba(91, 91, 91, 0) 86.48%);
}
/* End slider image overlay*/

/* slider control */
.emblemSlider .slideshow__controls {
  position: absolute;
  z-index: 9;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.emblemSlider .slider-button {
  color: #ffffff;
}

.emblemSlider .slider-counter__link--dots .dot {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid #86895d;
  padding: 0;
  display: block;
  background: #fff;
}

.emblemSlider .slider-counter__link--active .dot {
  border: solid 2px #befa23 !important;
  background: transparent !important;
  width: 1.6rem;
  height: 1.6rem;
}

.emblemSlider .slider-counter__link {
  padding: 0.4rem;
}

.emblemSlider .slider-button {
  display: none;
}

.slideshow__media.banner__media .character-img {
  z-index: 2;
  width: auto;
  height: 100%;
  left: auto;
  right: 10%;

  position: absolute;
}

.character-img__animation + img {
  animation: move 6s ease-in-out infinite;
}

.smooch-subheading {
  font-size: 11rem !important;

  line-height: 120px !important;
  position: relative;
  top: -36px;
  height: 87px;
}

.page-banner h2 {
  font-family: "Barlow", sans-serif;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 85.054px;
  margin: 0 !important;
}

.page-banner h3 {
  font-size: 83px;
  margin: 0 !important;
  font-weight: 800;
  line-height: 50px; /* 100.064% */
}

.page-banner h3.banner__sub-heading {
  font-size: 122px;
  margin: 0 !important;
  font-weight: 700;
  line-height: 114px; /* 100.849% */
  text-transform: uppercase;
}

.slideshow__media.page-banner.banner__media .character-img {
  max-width: 710px;
  height: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media screen and (max-width: 749px) {
  .emblem-section-banner .page-banner {
    position: absolute;
  }

  .emblem-section-banner .slideshow__text.banner__box {
    background: transparent;
  }

  .emblem-section-banner .banner__media {
    height: 62rem;
  }

  .page-banner h3.banner__sub-heading {
    font-size: 90px;
  }

  .page-banner h3 {
    font-size: 62px;
  }

  .page-banner h2 {
    font-family: Barlow, sans-serif;
    font-size: 55px;
  }

  .slideshow__media.banner__media .character-img {
    left: 0;
    right: 0;
    transform: translateX(0);
    animation: none !important;
    width: 100%;
    height: auto;
    margin-top: 25px;
  }

  .smooch-subheading {
    font-size: 4.8rem !important;
    line-height: 4.8rem !important;
    position: relative;
    top: 0;
    height: auto;
  }
}

@media screen and (min-width: 750px) {
  .emblemSlider .slideshow__slide:after {
    background: linear-gradient(
      90deg,
      #191c00 0.77%,
      rgba(91, 91, 91, 0) 84.8%
    );
  }
  .banner__box {
    width: 100%;
    max-width: 56rem !important;
    min-width: auto;
  }
}

@keyframes move {
  0%,
  100% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
}
