@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");

:root {
  --text-color-1: #191c00;
  --text-color-2: #86895d;
  --text-color-3: #54582f;
  --text-color-4: #fffdf3;
  --text-color-5: #d8dab8;
  --text-color-6: #ffffff;
  --text-color-7: #fd3535;
  --super-accent: #befa23;
}
body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.smooch {
  font-family: "Smooch", cursive;
  font-weight: 400;
  font-style: normal;
}

.barlow {
  font-family: "Barlow", sans-serif !important;
}

.super-accent {
  color: var(--super-accent) !important;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
}

.fs-75 {
  font-size: 7.5rem;
  line-height: 5.9rem;
  letter-spacing: 0.907px;
}

.fs-78 {
  font-size: 7.8rem;
  line-height: 5.9rem;
  letter-spacing: 0.907px;
}

h1,
.h1 {
  font-size: 7.2rem;
  line-height: 7.2rem;
}

h2,
.h2 {
  font-size: 6.4rem;
  line-height: 6.4rem;
}
h3,
.h3 {
  font-size: 4.8rem;
  line-height: 4.8rem;
}
h4,
.h4 {
  font-size: 4.6rem;
  line-height: 4rem;
}
h5,
.h5 {
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.h0,
.hxl {
  font-size: 7.7rem;
  line-height: 6.1rem;
}

.hxxl {
  font-size: 9.7rem;
}

/* Font Weight Classes */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.text-cream {
  color: var(--text-color-4);
}

.btn-wrappper {
  display: flex;
  gap: 24px;
}

.button,
.btn {
  /*min-width: 192px;*/
  min-height: 48px;

  text-align: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.btn--primary {
  background: var(--super-accent) !important;
  color: var(--text-color-1) !important;
}

.color-scheme-2 {
  --color-secondary-button-border: #befa23;
  --color-secondary-button-text: #befa23;
}

.button.button--secondary,
.button--secondary {
  border: solid 2px var(--color-secondary-button-border);
  color: var(--color-secondary-button-text);
}

.text-big,
.text-big p {
  font-family: "Barlow", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.2rem;
}

.link,
.customer a {
  font-size: 1.6rem;
  font-weight: 700 !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-full,
.w-100 {
  max-width: 100% !important;
  width: 100% !important;
  height: auto;
}

.z-99 {
  z-index: 99;
}

.cover {
  height: 100%;
  object-fit: cover;
}

.for-mob {
  display: none !important;
}

.for-desk {
}

/*custom search*/

#custom-search {
  width: 100%;
  gap: 32px;
  padding: 32px 64px 30px 64px;
  background: var(--text-color-1);
  border-bottom: solid 18px var(--super-accent);
}

@media (max-width: 749px) {
  .for-mob {
    display: block !important;
  }

  .for-desk {
    display: none !important;
  }
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-13 {
  margin-bottom: 13px !important;
}

.super-accent {
  color: var(--super-accent);
}

.mt-4 {
  margin-top: 4px !important;
}

.caption-text {
  font-family: "Smooch", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  transform: rotate(-4deg) !important;
}

.color-scheme-4 .image-with-text__heading span {
  color: var(--text-color-1) !important;
}

.search {
}

.field__input,
.select__select,
.customer .field input,
.customer select {
  height: 5.6rem;
  min-width: 0;
  width: 100%;
  max-width: 512px;
}

.search .btn--primary {
  min-height: 0;
  height: 40px;
  margin-top: 8px;
}

.search .field__input {
  background: transparent;
  border-bottom: 2px solid #86895d;
  padding: 0.8rem 1.6rem;
}
.search .field__input:focus,
.search .field__input:focus-visible {
  box-shadow: none;
  border: solid 1px #86895d;
}

.search .field:hover.field:after {
  box-shadow: none;
}

#custom-search {
  margin-top: 60px;
}

.max-450 {
  max-width: 450px;
}
.max-400 {
  max-width: 400px;
}

#custom-search .ls-dropdown-menu {
  display: none !important;
}
.search .field:after {
  content: "";
  box-shadow: none;
}

.max-438 {
  max-width: 438px;
  width: 100%;
}

@media (max-width: 749px) {
  #custom-search {
    flex-direction: column;
    padding: 16px;
    border-width: 16px;
  }
  .fs-75,
  .fs-78,
  h1,
  .h1 {
    font-size: 5.1rem;

    line-height: 5.1rem;
  }

  h3,
  .h3 {
    font-size: 40px;
    line-height: normal;
  }

  .text-big,
  .text-big p {
    font-size: 16px;
    font-weight: 500px;
    line-height: 24px;
  }
  .emblemSlider .banner__box {
    max-width: 445px !important;
  }

  .rich-text-container {
    padding: 0 !important;
  }
}

.list-items ul {
  margin: 0 !important;
  padding: 0;
}

.list-items ul li {
  list-style-image: url(https://cdn.shopify.com/s/files/1/2141/7697/files/icon-chekd.svg?v=1728293203) !important;
  padding: 0;
  margin: 8px 0;
  font-size: 24px;
  line-height: 32px;
  opacity: 1;
}

.mb-3 {
  margin-bottom: 3px;
}

body,
.color-scheme-1,
.color-scheme-2,
.color-scheme-3,
.color-scheme-4,
.color-scheme-5 {
  color: rgba(var(--color-foreground), 1);
}

@media (max-width: 456px) {
  .btn-wrappper {
    flex-direction: column;
    width: 100%;
  }

  .btn-wrappper .button {
    width: 100%;
    max-width: 360px;
    margin: auto;
  }
}
