.print-style .multicolumn {
  border-bottom: 20px solid rgba(var(--title-highlighted));
}

.print-style .multicolumn-card__info h3 {
  font-size: 24px;

  color: rgba(var(--title-highlighted));
}

.printing-type__header,
.print-style .multicolumn-card {
  max-width: 260px;
  width: 100%;
}

.print-style h1,
.print-style h2,
.print-style h3,
.print-style h4,
.print-style h5 {
  font-family: "Barlow", sans-serif !important;
}

@media (max-width: 990px) {
  .printing-type__header,
  .print-style .multicolumn-card {
    max-width: 100%;
  }

  .printing-type__header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
